nav.col-2
    a.blue(href="/") 
        i.fas.fa-dove
    a(href="/") 
        i.fas.fa-home
    a(href="/search") 
        i.fas.fa-search
    a(href="/notifications") 
        i.fas.fa-bell
    a(href="/messages") 
        i.fas.fa-envelope
    a(href="/profile") 
        i.fas.fa-user
    a(href="/user/logout") 
        i.fas.fa-sign-out-alt